.movie
{
    border:1px solid gray;
    border-radius: 10px;
    min-height: 100px;
    min-width: 450px;
    margin-bottom: 5px;
    padding: 5px;
}
.header
{
    font-weight: bolder;
    text-align: center;
}
.review
{
    border:1px solid gray;
    border-radius: 10px;
    min-height: 80px;
    min-width: 450px;
    margin-bottom: 5px;
    padding: 5px;
}